@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
    font-family:'Poppins', sans-serif;
}

.navbar{
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    transform: unset !important;
    background-color: transparent;
    margin-top: 1rem;
    border-radius: 20px;
}

.navbar.scrolled {
    background-color: #fafafa; 
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
.nav-link{
    color:#2682a9;
    font-weight: 600;
    font-size: 15px;;
}
.nav-login{
    color:white;
    background-color: #2682a9;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid #2682a9 ;
}
.nav-login:hover{
    color:white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid #2682a9 ;
    color: #2682a9;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    background-color: #2682a9;
    border-radius: 50%;
    opacity: 100%;
}

.image-carousel{
    height:400px;
    width:80%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    object-fit: cover;
}

.konten-2{
    background-color: #f0f8fa;  
    font-family: 'Fira Sans', sans-serif;
}

.profile-image{
    width: 35vw;
    height: 20vw;
    border-radius: 20px;
    object-fit: cover;
}

.card{
    background-color: #d8eaf1;
}

.landing-footer{
    background-color: #2682a9;
    margin-top: 50px;
}

.selengkapnya{
    background-color: #2682a9;
}

.selengkapnnya:hover{
   color: black;
}

.img-pr{
    height:170px;
    object-fit: cover;
  }

@media (min-width: 320px) and (max-width: 767px){        
    .image-carousel{
        height:200px;
        width:80%;
        border-radius: 20px;
    }
    .img-pr{
        height:100%;
      }
}
